/*
/*/
!.gitignore
!.gitmodules
!.github/
!.devcontainer/
!.vscode/
!README.md
!hacs.json
!custom_components/
custom_components/*/
!custom_components/plant_helper
custom_components/plant_helper/photos
custom_components/plant_helper/database.csv
**/__pycache__/